<h1>Welcome to Angular tutorial</h1>
<!-- <button (click)="readMe()">Click Me!!!</button> -->
<!-- <div>{{subTitle}}</div> -->
<!-- <div [ngStyle]="{color:colorVal}">This is example of Property Bindings</div> -->
<!-- <input [placeholder]="placeholderVal">
<a [href]="hrefVal">Google</a> -->
<!-- <button (click)="showAlert();">Click Me!!!</button> -->
<!-- <input (ngModel)="firstname" />
<div>{{firstname}}</div> -->

<!-- <div>
  {{user.firstName | uppercase}}, {{user.lastName | lowercase}}
</div>
<div>
  {{user.DOB | date:'long'}}
</div>
<div>
  {{user.salary | currency: 'INR'}}
</div> -->

<!-- <div>
  {{user.DOB | date:'long' | uppercase}}
</div> -->
<router-outlet></router-outlet>